.advantages {
  padding-top: 112px;
  padding-bottom: 88px;
  background-color: #f8f9fc;

  @media (max-width: 1199px) {
    padding-top: 90px;
    padding-bottom: 92px;
  }

  @media (max-width: 767px) {
    padding-top: 63px;
    padding-bottom: 60px;
  }
}

.advantages__container {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.advantages__container h2 {
  margin: 0;
  text-align: center;
  font-family: $ff-alumni;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
    line-height: 51px;
    padding-left: 0;
    padding-right: 24px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 39px;
    padding-right: 0;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  gap: 51px 60px;
  max-width: 1040px;
  margin: 0 auto;
  padding: 25px 0 0;
  list-style: none;
  color: $color-sapphire;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 27px;
    padding-top: 27px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 30px;
  grid-column: -2/-1;
  padding: 0 0 40px;
  color: #102654;
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @media (max-width: 1199px) {
    padding: 0;
    border: none;
  }

  @media (max-width: 767px) {
    display: block;
    padding: 0 40px;
    text-align: center;
  }

  &:nth-child(2n) {
    grid-column: 1/2;
    padding-left: 20px;
    padding-bottom: 44px;

    @media (max-width: 1199px) {
      padding-left: 0;
      padding-bottom: 0;
    }

    @media (max-width: 767px) {
      padding: 0 46px;
    }
  }

  &:nth-last-child(-n + 2) {
    padding-bottom: 0;

    border-bottom: 2px solid transparent;
  }
}

.advantages__value {
  max-width: 108px;

  @media (max-width: 767px) {
    margin: 0 auto;
  }
}

.advantages__value span {
  display: block;

  font-size: 14px;
  line-height: 21px;
  color: #2e35ac;

  &:first-child {
    font-weight: 700;
    font-size: 71px;
    line-height: 107px;
    color: transparent;
    background-color: #2e35ac;
    background-image: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
    background-clip: text;

    @media (max-width: 1199px) {
      font-size: 58px;
      line-height: 89px;
    }
  }
}

.advantages__value span + span {
  margin-top: -21px;
}

.advantages__description h3 {
  margin: 22px 0 6px;

  font-weight: 700;
  font-size: 22px;
  line-height: 33px;

  @media (max-width: 1199px) {
    margin: 15px 0 2px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: 767px) {
    margin-top: 8px;
  }
}

.advantages__description p {
  margin: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.advantages__item--middle {
  display: block;
  grid-column: 2/3;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 36px 20px 56px;
  text-align: center;
  color: #ffffff;
  background-color: #1c3374;
  grid-row: 1/3;

  @media (max-width: 1199px) {
    grid-column: 1/-1;
    width: 100%;
    max-width: 442px;
    margin: 16px auto 0;
    padding: 15px 115px 37px;
    grid-row: 2/3;
  }

  @media (max-width: 767px) {
    margin: 23px auto 5px;
    padding: 20px 55px 43px;
    grid-row: 3/4;
  }
}

.advantages__item--middle .advantages__value {
  max-width: 100%;
}

.advantages__item--middle span {
  font-size: 26px;
  line-height: 39px;
  color: #ffffff;

  @media (max-width: 1199px) {
    font-size: 22px;
    line-height: 33px;
  }

  &:first-child {
    font-weight: 700;
    font-size: 74px;
    line-height: 111px;
    color: #ffffff;

    @media (max-width: 1199px) {
      font-size: 74px;
      line-height: 111px;
    }
  }
}

.advantages__item--middle span + span {
  margin-top: -16px;
  margin-bottom: 32px;

  @media (max-width: 1199px) {
    margin-top: -21px;
    margin-bottom: 16px;
  }

  @media (max-width: 767px) {
    margin-top: -25px;
    margin-bottom: 9px;
  }
}

.advantages__item--middle p {
  line-height: 24px;
}
