.form {
  max-width: 410px;

  @include vp-1199 {
    max-width: 100%;
  }

  @include vp-767 {
    width: 100%;

  }
}

.form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 15px;
  column-gap: 30px;

  @include vp-1199 {
    width: 100%;
    column-gap: 60px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 12px;
    grid-template-columns: 1fr;
  }
}

.form input {
  display: flex;
  border: none;
  padding: 7px 0;
  font-weight: 400;
  background-color: inherit;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 190px;
  margin-bottom: 27px;
  cursor: text;

  &:hover {
    border-color: $color-default-white;
  }

  &:focus-visible {
    outline: 1px solid $color-default-white;
    outline-offset: 2px;
    border: none;

    &::placeholder {
      color: transparent;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.form input::-moz-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  font-family: $ff-roboto;
}

.form input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  font-family: $ff-roboto;
}

.form__input-wrapper.is-invalid input {
  border-bottom: 1px solid $color-form-err;
  margin-bottom: 3px;
}

.form__input-wrapper .input-message.is-invalid {
  color: $color-form-err;
}

.form__button {
  color: $color-default-white;
  background-color: inherit;
  padding: 16px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 3px solid $color-default-white;
  width: 100%;
  cursor: pointer;
  user-select: none;
  justify-content: center;

  &:hover,
  &:focus-visible {
    color: $color-secondary;
    background-color: $color-default-white;
    outline: none;
  }

  &:active {
    color: $color-primary;
    background-color: $color-default-white;
  }
}
