.membership {
  position: relative;
  width: 100%;
  background-color: $color-ghost-white;
}

.membership__wrapper {
  padding-top: 120px;
  padding-bottom: 120px;

  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 70px;
  }

  h2 {
    transform: translateX(-2px);
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    font-family: $ff-alumni;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      font-size: 42px;
      line-height: 51px;
      transform: none;
      padding-right: 12px;
      margin-bottom: 18px;
    }

    @include vp-767 {
      padding-right: 10px;
      margin-bottom: 16px;
      font-size: 32px;
      line-height: 39px;
    }
  }
}

.membership__tabs {
  display: flex;
  flex-direction: column;
  //overflow: hidden;
}

.membership__controls {
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 49px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -13px;
    background-color: $color-gray-deco;
  }

  @include vp-1199 {
    margin-bottom: 54px;
  }

  @include vp-767 {
    margin-bottom: 43px;
    padding-left: 0;
    width: 100%;

    &::after {
      bottom: -9px;
    }
  }
}

.membership__control {
  position: relative;
  padding: 5px 0;
  border: none;
  flex-shrink: 0;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: $color-sapphire;
  background-color: $color-transparent;
  opacity: 0.5;
  text-transform: none;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -13px;
    left: 0;
    background-color: $color-sapphire;
    opacity: 0.3;
  }

  &:hover,
  &:focus-visible,
  &:active {
    opacity: 1;

    &::after {
      background-color: $color-crimson;
      opacity: 1;
    }
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 21px;
  }

  &--center {
    @include vp-767 {
      padding-left: 10px;
      padding-right: 9px;
    }
  }

  &:not(:last-child) {
    margin-right: 46px;

    @include vp-1199 {
      margin-right: 55px;
    }

    @include vp-767 {
      margin: 0;
    }
  }

  &.is-active {
    @include vp-767 {
      &::after {
        bottom: -9px;
      }
    }
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;

    &::after {
      bottom: -10px;
    }
  }
}

.membership__list {
  display: none;
}

.membership__list.is-active {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  column-gap: 3.5%;
  row-gap: 40px;
  z-index: 5;
  position: relative;

  @include vp-1199 {
    grid-template-columns: 1fr;
    padding-right: 118px;
    padding-left: 118px;
  }

  @include vp-767 {
    padding: 0;
    row-gap: 35px;
  }
}

.membership__item {
  position: relative;
  max-width: 360px;
  min-height: 448px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 63px 77px 64px;
  background-color: $color-default-white;
  color: $color-primary;

  @include vp-1199 {
    max-width: 100%;
    padding: 63px 118px 64px;
  }

  @include vp-767 {
    padding: 50px 40px 40px;
    min-height: 384px;
  }

  &:focus,
  &:focus-within,
  &:hover {
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 7px solid transparent;
      border-image: $button;
      border-image-slice: 1;
      pointer-events: none;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;

    @include vp-767 {
      font-size: 22px;
      line-height: 25px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 65px;

    @include vp-767 {
      margin-bottom: 53px;
    }
  }
}

.membership__item-text {
  z-index: 3;
  margin-bottom: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;

  @include vp-1199 {
    padding-right: 8px;
  }

  @include vp-767 {
    padding-right: 5px;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  p,
  span {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $color-secondary;

    @include vp-767 {
      font-size: 48px;
      line-height: 72px;
    }
  }

  p {
    position: relative;

    &::before {
      position: absolute;
      content: attr(data-price);
      color: $color-gray-shadow;
      font-size: 100px;
      left: -23px;
      top: -23px;
      z-index: -1;
    }

    @include vp-767 {
      margin-bottom: 0;

      &::before {
        font-size: 82px;
        left: -20px;
        top: -20px;
      }
    }
  }

  span {
    color: $color-sapphire;
    transform: translateX(9px);
    font-size: 59px;

    @include vp-1199 {
      transform: translateX(10px);
    }

    @include vp-767 {
      transform: translateX(10px);
      font-size: 43px;
    }
  }
}

.membership__img-wrapper {
  position: absolute;
  right: 0;
  top: 59.7%;

  @include vp-1199 {
    top: 82.3%;

    img {
      width: 348px;
      height: 439px;
    }
  }

  @include vp-767 {
    display: none;
  }
}

.membership__item-link {
  padding-top: 24px;
  padding-bottom: 24px;
  color: $color-primary;
  border: 2px solid $color-primary;
  letter-spacing: 0.03em;
  width: 100%;
  justify-content: center;
  user-select: none;

  &:hover,
  &:focus-visible {
    background-image: $button;
    color: $color-default-white;
    border: none;
    padding-top: 26px;
    padding-bottom: 26px;
    outline: none;
  }

  &:active {
    border: none;
    background-image: $button;
    color: rgba(255, 255, 255, 0.69);
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-767 {
    padding-left: 43px;
    padding-right: 43px;
  }
}
