.video__button {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 50%;
  background-image: $video;
  cursor: pointer;
  user-select: none;

  @include vp-1199 {
    width: 52px;
    height: 52px;
  }

  &:hover,
  &:focus-visible,
  &:active {
    background-image: none;
    background-color: $color-default-white;
    outline: 0;

    &::after {
      background-color: $color-primary;
    }
  }

  &:active {
    width: 58px;
    height: 58px;

    @include vp-1199 {
      width: 46px;
      height: 46px;
    }
  }

  &:disabled {
    opacity: 0.4;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: $video-light;
    mask: radial-gradient(circle 92px, $color-transparent 50%, #ffffff 50%);

    @include vp-1199 {
      width: 73px;
      height: 73px;
      mask: radial-gradient(circle 69px, $color-transparent 50%, #ffffff 50%);
    }
  }
}

.video__button svg {
  margin: auto;
  display: block;
  color: $color-default-white;

  @include vp-1199 {
    transform: translate(3px, 1px);
    width: 12px;
    height: 12px;
  }

  @include vp-767 {
    transform: translate(2px, 0.5px);
  }
}

.video__button:hover svg,
.video__button:focus-visible svg,
.video__button:active svg {
  color: $color-primary;
}

.video img {
  object-fit: cover;
  height: 100%;
  width: 100%;

  @include vp-767 {
    margin-top: 40px;
  }
}

.video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  @include vp-767 {
    margin-top: 40px;
    min-height: 167px;
  }
}
